[submodule "LLMP/LLaVA"]
    path = LLMP/LLaVA
        url = git@github.com:haehn/LLaVA.git

[submodule "LLMP/customLLaVA"]
    path = LLMP/customLLaVA
        url = https://github.com/haehn/LLaVA.git
                

